.title {
  text-align: center;
  color: aliceblue;
}
.title2 {
  text-align: center;
}

body {
  background-color: #4048cd;
  background-image: linear-gradient(90deg, #4048cd 0%, #C850C0 60%, #FFCC70 100%);

}
.app-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.link-ganration-card{
  background-color:#ffff;
  display: block;
  height: 50vh;
  margin-top: 70px;
  padding: 20px;
  border-radius: 10px ;
  box-shadow: 0 0 10px rgb(24, 23, 23);
}
.user-input{
  width: 400px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 20px;
  display: block;
}
.ling-genrat-btn{
  
  margin-bottom: 20px;
  padding: 5px 15px;
  font-size: 20px;
  display: block;
  border-radius: 5px;
  background-color: #4048cd;
  background-image: linear-gradient(90deg, #4048cd 0%, #C850C0 60%, #FFCC70 100%);
  cursor: pointer;
}
.copy{
  width: 20px;
  position: relative;
  right: 30px;
}
.input-short-url{
  width: 400px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 20px;
}
.saved-links{
  background-color: #fff;
  padding: 5px 10px;
  margin: 20px;
  border-radius: 5px;
}
.all-links-container{
  display: block;
  height: 85vh;
 overflow-y: scroll;
 
}

.all-links-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.all-links-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}